.App {
    text-align: center;
}


table, th, td {
    border: 1px solid gray;
}

table {
    width: 90%;
    margin-left: 70px;
    margin-top: 20px;
}

th {
    text-decoration: underline;
}

h1 {
    background-color: rgb(16, 36, 115);
    color: white;
    height: 100px;
    text-align: center;
    padding-top: 5px;
    border-bottom-color: slategrey;
    border-top-color: slategray;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 15px;
    padding-bottom: 10px;
}

html{
    background-color: lightgray;
}